.section > div {
  margin: 1rem auto;
}

.section .description,
.form {
  width: 40%;
}

h2 {
  text-align: center;
}

.row > div {
  display: table-cell;
  white-space: nowrap;
  padding: 0 10px;
}

.dots {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #333 40%,
    rgba(255, 255, 255, 0) 20%
  );
  background-position: bottom;
  background-size: 13px 1px;
  background-repeat: repeat-x;
}

p {
  text-align: center;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form form label {
  padding-bottom: 10px;
}

.form form input,
.form form textarea {
  width: 100%;
  padding: 2px 5px;
}

.form .emptyCartComment,
.form .receivedOrderComment {
  display: block;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.form .emptyCartComment {
  color: rgb(225, 59, 59);
}

.form .receivedOrderComment {
  color: rgb(28, 149, 87);
}
