.section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section th {
  border: 1px solid black;
  border-width: 0 0 1px 0;
}

.section tr:last-child > td {
  border: 1px solid black;
  border-width: 1px 0 0 0;
}

.section td,
.section th {
  padding: 10px 40px;
  width: 50px;
}

.section tr td:last-child {
  text-align: center;
}

.section tr:last-child td:last-child {
  height: 40px;
  display: block;
}

.section td a {
  text-decoration: none;
  color: #333;
}

.section td span {
  display: inline-block;
  width: 20px;
  text-align: center;
}
